<div class="wrap">

    <h1>Ölkələr üzrə</h1>

    <div class="report-cover">
        <div class="report">
            <ul>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
        </div>
    </div>

    <h1>Tədris illəri üzrə</h1>

    <div class="report-cover">
        <div class="report">
            <ul>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <h1>Qeydiyyatda olduğu rayonlar üzrə</h1>

    <div class="report-cover">
        <div class="report">
            <ul>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
        </div>
    </div>

    <h1>Təhsil səviyyələri üzrə</h1>

    <div class="report-cover">
        <div class="report">
            <ul>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
        </div>
    </div>

    <h1>Ali təhsil müəssisələri üzrə</h1>

    <div class="report-cover">
        <div class="report">
            <ul>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
        </div>
    </div>


    <h1>İxtisas istiqamətləri üzrə</h1>

    <div class="report-cover">
        <div class="report">
            <ul>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/pdf.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/xls.svg" alt=""></a></li>
                <li><a href="javascript:void(0)"><img src="assets/img/upd/html.svg" alt=""></a></li>
            </ul>
        </div>
    </div>

</div>