<script src="../assets/js/events.js"></script>
<div class="content-header">
    <div class="con-head-left">
        <span data-i18n="academic_groups" placeholder="Tələbələr" class="hed-title"></span><span  class="head-total"> <span data-group-count></span>/<span data-student-count></span></span>
    </div>
    <div class="con-head-right">
        <div class="prepend-icon">
            <input data-i18n="placeholder.search" id="group_search" type="search" placeholder="Search">
    
        </div>
        <button  type="button" class="btn btn-default filter">Filter</button>

        <div id="buttons_div" class="dropdown-func">
            <div class="btn btn-default reg dropdown-toggle cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                Ümumi əməliyyatlar
            </div>
            <ul id="module_operations" class="dropdown-menu calibrated">
                <li><a id="registration" href="student_add.html">Item 1</a></li>
                <li><a id="second-registration" href="#">Item 2</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="filters-block module_1000038 student-filter-group">
    <div class="form-group tree-modal-container ">
        <form class="group-search-form">
            <div class="btn-group">
                <select class="form-control " id="org_uni_filter" name="universityId">

                </select>
                <i class="fa fa-angle-down" style="position: absolute; top:9px; right: 14px; font-size: 14px"></i>
            </div>
            <div class="btn-group">
                <select class="form-control org-faculty-filter" id="org_faculty_filter" name="facultyId">

                </select>
                <i class="fa fa-angle-down" style="position: absolute; top:9px; right: 14px; font-size: 14px"></i>
            </div>
            <div class="btn-group">
                <select class="form-control " id="org_spec_level_filter" name="specTypeId">

                </select>
            </div>
            <div class="btn-group">
                <select class="form-control org-faculty-filter" id="org_spec_filter" name="specialityId">

                </select>
                <i class="fa fa-angle-down" style="position: absolute; top:9px; right: 14px; font-size: 14px"></i>
            </div>

            <div class="btn-group">
                <select class="form-control " id="edu_type" name="eduTypeId">

                </select>
            </div>


        </form>
    </div>

</div>
<!-- <form class="group-search-form">
    <input type="hidden" name="universityId" />
    <input type="hidden" name="facultyId" />
    <input type="hidden" name="specialityId" />
    <input type="hidden" name="eduLevelId" />
    <input type="hidden" name="groupType" />
</form> -->
<!-- <div class="col-xs-12 content-filters">
    <div class="col-xs-9 select-bar">
        <div class="form-group">

            <div class="btn-group">
                <div permanent-address class="tree-modal-container">
                    <button  id="org-list" type="button" class="btn btn-default group-tree-modal  btn-block"><span data-i18n="structure">Structure</span></button>

                </div>
            </div> -->

            <!--            <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-expanded="false" >
                                <i class="fa fa-ellipsis-horizontal"></i><span data-i18n="edu_level">Təhsil pilləsi</span> <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu edu-level-list-filter">
            
                            </ul>
                        </div>-->

<!--             <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-expanded="false" >
                    <i class="fa fa-ellipsis-horizontal"></i><span data-i18n="group_type">Qrup tipi</span> <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu group_type">

                </ul>
            </div>


        </div>
    </div>
    <div class="col-xs-2 search-bar">
        <div class="prepend-icon">
            <input data-i18n="placeholder.search" id="group_search" class="form-control input-sm m-l-10" type="search" placeholder="Axtar">
            <i class="fa fa-search m-l-10"></i>
        </div>
    </div>
    <div class="col-xs-1 button-bar">
        <div id="buttons_div" class="btn-group dropdown-func">
            <div class="btn btn-default reg dropdown-toggle cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </div>
            <ul class="dropdown-menu calibrated">
                <li><a id="registration" href="student_add.html">Item 1</a></li>
                <li><a id="second-registration" href="#">Item 2</a></li>
            </ul>
        </div>
    </div>
</div> -->
<!-- Bootstrap modal -->
<div class="row"> 
<div class="col-sm-12 data filtered">
    <div class="panel panel-white table-scroll">

        <div class=" table-responsive ">
            <table id="group-list" class="table table-celled table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th data-i18n="name">Name</th>
                        <th data-i18n="university">Universitet</th>
                        <th data-i18n="faculty">Fakültə</th>
                        <th>İxtisas</th>
                        <th data-i18n="edu_level">Təhsil pilləsi</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>


                    </tr>

                </tbody>
            </table>

        </div>
        <div class="space-for-footer">
            <div id="load_more_div" class=" flex-input">
                <button data-i18n="load.more" data-table="academic_groups" class="btn loading-margins btn-load-more">Daha çox yüklə</button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-3 info">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h3 data-i18n="students" class="panel-title">Tələbə siyahısı</h3>
            <div class="panel-close"><img src="assets/img/upd/close.svg" alt=""></div>
            <div class="type_2_btns"></div>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 definition-list">
                <dl class="dl-horizontal">
                </dl>
            </div>
        </div>
    </div>
</div>
</div>
<!--tree modal-->
<div id="academicGroupTree" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header header-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 data-i18n="university" class="modal-title">Ali təhsil müəssisəsi</h4>
            </div>
            <div class="modal-body scrollable">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="search-bar">
                            <div class="prepend-icon">
                                <input data-i18n="placeholder.search" class="form-control input-sm tree-search" type="search" placeholder="Search">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div id="org-list-tree" style="overflow: auto;">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer flex-img">
                <button data-i18n="ok" type="button" class="btn btn-primary orgStructureFilter">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="add-new">
    <div class="search-scroll"></div>
</div>
<script src="assets/js/modal_drag.js"></script>
<script src="assets/js/jquery-ui.js"></script>
<script>
    $(function () {
        $('body').find('.table-scroll').slimScroll();
        Hsis.i18n();
         $('.search-scroll').slimScroll();
         $('#org_uni_filter').select2();
         $('body').find('div.panel-body').slimScroll();
         $('body').find('.org-faculty-filter').select2();

        $('#main-div .sub_modules_div').remove();
       // $('.module-list').find('li[data-id=1000038].sub-module-con').fadeIn();
         $('.module-list').find('.sub-module-con').remove();
       // Hsis.Proxy.loadSubModules(1000038, function (data) {
       //     var html = '<div class="sub_modules_div"><div class="sub_modules" >';

       //     if (data) {
       //         if (data.code == Hsis.statusCodes.OK) {
       //             if (data.data) {

       //              var testArray = [];
       //              var testHtml;
       //              var curH;
       //              $('.module-list').find('li.active').append('<div class="sub-module-con"></div>')
       //              $.each(data.data, function(i, v){
       //                  if($.inArray(v.typeId, testArray) == -1){
       //                       testArray.push(v.typeId);
       //                       testHtml = '<div data-type="'+ v.typeId +'" class="sub-module-group"></div>'
                        
       //                       $('.module-list').find('li.active .sub-module-con').append(testHtml)
                           
       //                       curH = $('body').find('div.sub-module-group[data-type="'+ v.typeId +'"]');
                        
       //                       curH.append('<div class="chekbox-con"><input type="checkbox" checked="checked" data-type-id="'+ v.typeId +'" value="'+ v.id +'" id="id_'+ v.id +'" data-type-id="'+ v.typeId +'"><label for="id_'+ v.id +'" data-parent="'+ v.parentId +'">'+ v.name.az +'</label></div>')
                        
       //                  }else{
       //                      curH = $('body').find('div.sub-module-group[data-type="'+ v.typeId +'"]');
                        
       //                      curH.append('<div class="chekbox-con"><input type="checkbox" checked="checked" data-type-id="'+ v.typeId +'" value="'+ v.id +'" id="id_'+ v.id +'" data-type-id="'+ v.typeId +'"><label for="id_'+ v.id +'" data-parent="'+ v.parentId +'">'+ v.name.az +'</label></div>')
                            


       //                  }
                        

       //              })
                    
       //                 var subModuleGroups = $('.module-list').find('li.active .sub-module-group');
       //                 $.each(subModuleGroups, function(i, v){
       //                     $(this).prepend('<p>Group '+ (++i) +'</p>')
                           

       //                 })

       //                  $.each(data.data, function (i, v) {
       //                      html += '<li data-parent="' + v.parentId + '"  data-id = "' + v.id + '" class="sub-module-item sub_module_' + v.id + '"><a href="#">' +
       //                              '<span class="state-icon radio-check"></span>' +
       //                              '<span class="m-l-10">' + v.name[Hsis.lang] + '</span>' +
       //                              '<input type-id="' + v.typeId + '" value="' + v.id + '" class="hidden" type="checkbox">' +
       //                              '</a></li>'

       //                  })
       //                  html += '</div></div>'
       //                  $('#main-div .sidebar-menu .module .mod-con').append(html);



       //                  var subModuleId = [];
       //                  var params = $('.main-content-upd .group-search-form').serialize();

       //                  if ($('.sub-module-con :checkbox')) {
       //                      $.each($('.sub-module-con :checkbox'), function () {
       //                          subModuleId.push($(this).val());

       //                      });
       //                      Hsis.subModuleId = subModuleId;

       //                      if (subModuleId.length > 0) {
       //                          $('.btn-load-more').removeAttr('data-page');
       //                          var text = Hsis.tempData.form != "" ? Hsis.tempData.form : params + '&subModuleId=' + subModuleId;
       //                          Hsis.Proxy.loadAcademicGroups('', text);
       //                          // setTimeout(function () {
       //                          //     Hsis.top = 0;
       //                          //     Hsis.top = $('li.sub-module-item:last').offset().top;
       //                          // }, 1000);
       //                      }

       //                  }
       //              }
       //          }
       //      }
       //  })
       var firstParams = $('.main-content-upd .group-search-form').serialize();
        Hsis.Proxy.loadAcademicGroups('', Hsis.tempData.form != "" ? Hsis.tempData.form : firstParams);
        $('#academicGroupTree .modal-content').draggable({
            cancel: '.scrollable'
        });

        Hsis.Proxy.loadDictionariesByTypeId('1000002', 1000700, function (eduLevel) {
            if(eduLevel) {
                var html = '<option value="0">İxtisas səviyyəsi</option>';
                $.each(eduLevel, function (i, v) {
                    html += '<option parent="' + v.parentId + '" code="' + v.code + '" value="' + v.id + '">' + v.value[Hsis.lang] + '</option>';
                });
                $('#main-div #org_spec_level_filter').html(html);
            }
                
        });
        Hsis.Proxy.loadDictionariesByTypeId('1000002', 1000700, function (eduLevel) {
            if(eduLevel) {
                var html = '<option value="0">Təhsil səviyyəsi</option>';
                $.each(eduLevel, function (i, v) {
                    html += '<option parent="' + v.parentId + '" code="' + v.code + '" value="' + v.id + '">' + v.value[Hsis.lang] + '</option>';
                });
                $('#main-div #org_spec_level_filter_2').html(html);
            }
                
        });

        Hsis.Proxy.loadDictionariesByTypeId('1000017', 0, function (eduLevel) {
            if(eduLevel) {
                var html = '<option value="0">Təhsil forması</option>';
                $.each(eduLevel, function (i, v) {
                    html += '<option parent="' + v.parentId + '" code="' + v.code + '" value="' + v.id + '">' + v.value[Hsis.lang] + '</option>';
                });
                $('#main-div #edu_type').html(html);
            }
                
        });


        Hsis.Proxy.getStructureListByFilter(0, 0,function(data) {
            if(data) {
                var html = '';
                var uni = data.universityList;
                var faculty = data.facultyList;
                var spec = data.specialityList;
                var uniCount = data.universityList.length;
                var facultyCount = data.facultyList.length;
                var specCount = data.specialityList.length;
                
                if(uniCount == 1) {
                   // $('#org_uni_filter').attr('disabled', 'disabled')
                    $.each(uni, function(i, v){
                        html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    })
                    $('#org_uni_filter').html(html)
                                        var uniId =  $('#org_uni_filter').val();
                    var text = $(this).find('option:selected').text();
                    var levelId = $('#org_spec_level_filter').val();
                    Hsis.Proxy.getStructureListByFilter(uniId, levelId ,function(data) {
                        if(data) {
                            var html = '';
                            var faculty = data.facultyList;
                            var spec = data.specialityList;

                            html = '<option value = "0">Fakültə</option>'
                            $.each(faculty, function(i, v){
                                html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                            })
                            $('#org_faculty_filter').html(html)


                            html = '<option value = "0">İxtisas</option>'
                            $.each(spec, function(i, v){
                                html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                            })
                            $('#org_spec_filter').html(html)

                            if (uniId != 1000001 || uniId != 0) {
                                $('.main-content-upd .student-search-form input[name="orgId"]').val(uniId);
                                $('.main-content-upd .student-search-form input[name="uniOrg"]').val(uniId);
                                $('.main-content-upd .student-search-form input[name="uniName"]').val(text);
                            }
                            else {
                                $('.main-content-upd .student-search-form input[name="orgId"]').val('');
                                $('.main-content-upd .student-search-form input[name="uniOrg"]').val('');
                                $('.main-content-upd .student-search-form input[name="uniName"]').val('');
                            }

                            $('.btn-load-more').removeAttr('data-page');
                             var params = $('.main-content-upd .group-search-form').serialize();
                            Hsis.Proxy.loadAcademicGroups('', params);

                        }
                    })
                } else {
                    html = '<option value = "0">Universitet</option>'
                    $.each(uni, function(i, v){
                        html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    })
                    $('#org_uni_filter').html(html)
                }
                if(facultyCount <= 1) {
                    html = '';
                    $('#org_faculty_filter').attr('disabled', 'disabled')
                    // $.each(faculty, function(i, v){
                    //     html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    // })
                    $('#org_faculty_filter').html(html)
                }else {
                    html = '<option value = "0">Fakültə</option>'
                    // $.each(faculty, function(i, v){
                    //     html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    // })
                    $('#org_faculty_filter').html(html)
                }
                if(specCount <= 1) {
                    html = '';
                    $('#org_spec_filter').attr('disabled', 'disabled')
                    // $.each(spec, function(i, v){
                    //     html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    // })
                    $('#org_spec_filter').html(html)
                } else {
                    html = '<option value = "0">İxtisas</option>'
                    // $.each(spec, function(i, v){
                    //     html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    // })
                    $('#org_spec_filter').html(html)
                }
                
                
                
            }
            
        });
        
        $('#org_uni_filter').on('change', function() {
            var id = $(this).val();
            var text = $(this).find('option:selected').text();
            var levelId = $('#org_spec_level_filter').val();
            
            Hsis.Proxy.getStructureListByFilter(id, levelId ,function(data) {
                if(data) {
                    var html = '';
                    var faculty = data.facultyList;
                    var spec = data.specialityList;
                    
                    html = '<option value = "0">Fakültə</option>'
                    $.each(faculty, function(i, v){
                        html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    })
                    $('#org_faculty_filter').html(html)


                    html = '<option value = "0">İxtisas səviyyəsi</option>'
                    $.each(spec, function(i, v){
                        html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    })
                    $('#org_spec_filter').html(html)

                    
                    $('.btn-load-more').removeAttr('data-page');
                    var params = $('.main-content-upd .group-search-form').serialize();
                    Hsis.Proxy.loadAcademicGroups('', params);
           

                }
            })

            
        });
        $('#org_spec_level_filter_2').on('change', function() {

            var params = $('.main-content-upd .group-search-form').serialize();
            console.log('params= ' + params)
            Hsis.Proxy.loadAcademicGroups('', params);
            $('.btn-load-more').removeAttr('data-page');
            
        });

        $('#org_spec_filter').on('change', function() {
            var specId = $(this).val();
            var specName = $(this).find('option:selected').text();
            var uniId = $('#org_uni_filter').val();
            var uniName = $('#org_uni_filter').find('option:selected').text();
            var facultyId = $('#org_faculty_filter').val();
            var facultyName = $('#org_faculty_filter').find('option:selected').text();
            var id = specId == 0 ? (facultyId == 0 ? uniId : facultyId) : specId;
            var text = specId == 0 ? (facultyId == 0 ? uniName : facultyName) : specName;
            
                    
            if (id != 0) {
                $('.main-content-upd .student-search-form input[name="orgId"]').val(id);
                $('.main-content-upd .student-search-form input[name="uniOrg"]').val(id);
                $('.main-content-upd .student-search-form input[name="uniName"]').val(text);
            }
            else {
                $('.main-content-upd .student-search-form input[name="orgId"]').val('');
                $('.main-content-upd .student-search-form input[name="uniOrg"]').val('');
                $('.main-content-upd .student-search-form input[name="uniName"]').val('');
            }

            $('.btn-load-more').removeAttr('data-page');
            var params = $('.main-content-upd .group-search-form').serialize();
            console.log('params= ' + params)
            Hsis.Proxy.loadAcademicGroups('', params);
            $('.btn-load-more').removeAttr('data-page');
            
        });

        $('#edu_type').on('change', function() {
            var specId = $(this).val();
            var specName = $(this).find('option:selected').text();
            var uniId = $('#org_uni_filter').val();
            var uniName = $('#org_uni_filter').find('option:selected').text();
            var facultyId = $('#org_faculty_filter').val();
            var facultyName = $('#org_faculty_filter').find('option:selected').text();
            var id = specId == 0 ? (facultyId == 0 ? uniId : facultyId) : specId;
            var text = specId == 0 ? (facultyId == 0 ? uniName : facultyName) : specName;
            
                    
            if (id != 0) {
                $('.main-content-upd .student-search-form input[name="orgId"]').val(id);
                $('.main-content-upd .student-search-form input[name="uniOrg"]').val(id);
                $('.main-content-upd .student-search-form input[name="uniName"]').val(text);
            }
            else {
                $('.main-content-upd .student-search-form input[name="orgId"]').val('');
                $('.main-content-upd .student-search-form input[name="uniOrg"]').val('');
                $('.main-content-upd .student-search-form input[name="uniName"]').val('');
            }

            $('.btn-load-more').removeAttr('data-page');
            var params = $('.main-content-upd .group-search-form').serialize();
            console.log('params= ' + params)
            Hsis.Proxy.loadAcademicGroups('', params);
            $('.btn-load-more').removeAttr('data-page');
            
        });



        
        $('#org_faculty_filter').on('change', function() {
            var facultyId = $(this).val();
            var uniId = $('#org_uni_filter').val();
            var uniname = $('#org_uni_filter').find('option:selected').text();
            var facultyName = $(this).find('option:selected').text();
            var levelId = $('#org_spec_level_filter').val();
            var id = facultyId == 0 ? uniId: facultyId
            var text = facultyId == 0 ? uniname: facultyName
            
            Hsis.Proxy.getStructureListByFilter(id, levelId ,function(data) {
                if(data) {
                    var html = '';
                    var spec = data.specialityList;
                    
                    html = '<option value = "0">İxtisas</option>'
                    $.each(spec, function(i, v){
                        html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    })
                    $('#org_spec_filter').html(html)
                    
                    if (id != 0) {
                        $('.main-content-upd .student-search-form input[name="orgId"]').val(id);
                        $('.main-content-upd .student-search-form input[name="uniOrg"]').val(id);
                        $('.main-content-upd .student-search-form input[name="uniName"]').val(text);
                    }
                    else {
                        $('.main-content-upd .student-search-form input[name="orgId"]').val('');
                        $('.main-content-upd .student-search-form input[name="uniOrg"]').val('');
                        $('.main-content-upd .student-search-form input[name="uniName"]').val('');
                    }
                    
                    $('.btn-load-more').removeAttr('data-page');
                    var params = $('.main-content-upd .group-search-form').serialize();
                    Hsis.Proxy.loadAcademicGroups('', params);

                }
            })
            
        });
        
        
        

        $('#org_spec_level_filter').on('change', function() {
            var facultyId = $('#org_faculty_filter').val();
            var uniId = $('#org_uni_filter').val();
            var uniname = $('#org_uni_filter').find('option:selected').text();
            var facultyName = $(this).find('option:selected').text();
            var levelId = $('#org_spec_level_filter').val();
            var id = facultyId == 0 ? uniId: facultyId
            var text = facultyId == 0 ? uniname: facultyName
            
            Hsis.Proxy.getStructureListByFilter(id, levelId ,function(data) {
                if(data) {
                    var html = '';
                    var spec = data.specialityList;
                    
                    html = '<option value = "0">Hamısı</option>'
                    $.each(spec, function(i, v){
                        html += '<option value = "'+v.id+'">'+v.name[Hsis.lang]+'</option>'
                    })
                    $('#org_spec_filter').html(html);

                    var params = $('.main-content-upd .group-search-form').serialize();
                    Hsis.Proxy.loadAcademicGroups('', params);
                    
                    $('.btn-load-more').removeAttr('data-page');


                }
            })

        });




        $('#main-div').on('click', '#org-list', function (event) {
            try {
                $('#academicGroupTree').modal({
                    backdrop: false
                });

                var treeObj = $(':jstree').length;
                if (treeObj == 0) {
                    if ($('#org-list-tree').attr('data-check') !== '1') {
                        Hsis.Proxy.loadOrgTreeByType(1000700, function (tree) {
                            Hsis.Service.commonParseTree(tree, 'org-list-tree');
                        }, $('#org-list-tree'));
                        var searchString = $('#main-div .tree-search').val();
                        $('#org-list-tree').jstree('search', searchString);
                    }
                }


            }
            catch (err) {
                console.error(err);
            }
        });




        $(".tree-search").keyup(function () {
            var searchString = $(this).val();
            $('#org-list-tree').jstree('search', searchString);
        });



        $('.orgStructureFilter').on('click', function (e) {
            try {
                var id = $('#org-list-tree li[aria-selected="true"]').attr('id');
                var text = $('#org-list-tree li[aria-selected="true"]').find('a:first').text();
                if (text.length > 0) {
                    $('.btn.group-tree-modal').text(text);
                    $('.btn.group-tree-modal').attr('data-id', id);
                    $('#academicGroupTree').modal('hide');

                    if (id !== 0) {
                        $('.main-content-upd .group-search-form input[name="specialityId"]').val(id);
                    }
                    else {
                        $('.main-content-upd .group-search-form input[name="specialityId"]').val('');
                    }
                    var params = $('.main-content-upd .group-search-form').serialize();
                    var keyword = $('#group_search').val();
                    Hsis.Proxy.loadAcademicGroups('', params + '&keyword=' + keyword);
                    $('.btn-load-more').removeAttr('data-page');
                }
                else {
                    $.notify(Hsis.dictionary[Hsis.lang]['select_information'], {
                        type: 'warning'
                    })
                }
            }
            catch (err) {

            }
        });

        Hsis.Proxy.loadOperations(Hsis.currModule, function (operations) {
            $('#buttons_div').find('ul').html(Hsis.Service.parseOperations(operations, 1));

        });

        Hsis.Proxy.loadDictionariesByTypeId(1000016, 0, function (gender) {
            var html = "<li data-id = '0'><a href='#'>" + Hsis.dictionary[Hsis.lang]['all'] + "</a></li>";
            $.each(gender, function (i, v) {
                html += '<li data-id = "' + v.id + '"><a href="#">' + v.value[Hsis.lang] + '</a></li>'
            });
            $('.edu-level-list-filter').html(html);
        });

//        Hsis.Proxy.loadDictionariesByTypeId(1000053, 0, function (groupType) {
//            var html = "<li data-id = '0'><a href='#'>" + Hsis.dictionary[Hsis.lang]['all'] + "</a></li>";
//            $.each(groupType, function (i, v) {
//                html += '<li data-id = "' + v.id + '"><a href="#">' + v.value[Hsis.lang] + '</a></li>'
//            });
//            $('.group_type').html(html);
//        });
    });

    $('.main-content-upd ').on('click', '.edu-level-list-filter li', function () {
        try {
            var id = $(this).attr('data-id');
            if (id !== 0) {
                $('.main-content-upd .group-search-form input[name="eduLevelId"]').val(id);
            }
            else {
                $('.main-content-upd .group-search-form input[name="eduLevelId"]').val('');
            }
            $('.btn-load-more').removeAttr('data-page');
            var keyword = $('#group_search').val();
            var params = $('.main-content-upd .group-search-form').serialize() + '&keyword=' + keyword;
            Hsis.Proxy.loadAcademicGroups('', params);
            $('.btn-load-more').removeAttr('data-page');
        }
        catch (err) {
            console.error(err);
        }
    });

    $('#main-div').on('click', '.group_type li', function (e) {
        try {
            var groupType = $(this).attr('data-id');
            if (groupType !== 0) {
                $('.main-content-upd .group-search-form input[name="groupType"]').val(groupType);
            }
            else {
                $('.main-content-upd .group-search-form input[name="groupType"]').val('');
            }
            $('.btn-load-more').removeAttr('data-page');
            var keyword = $('#group_search').val();
            var params = $('.main-content-upd .group-search-form').serialize() + '&keyword=' + keyword;
            Hsis.Proxy.loadAcademicGroups('', params);
            $('.btn-load-more').removeAttr('data-page');

        }
        catch (err) {
            console.error(err);
        }

    });

    $('.datepicker').datepicker();



</script>
